page-home {
    text-align: center;
    align-content: center;
    vertical-align: center;

    #imgA{
        width: 100%;
        height: 75%;
        background-image: url('../../assets/imgs/imgA.png');
        background-size: cover;
    }
}
